@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}
<section class="container">
    <section class="row scrollit">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <rating></rating>
        </div>
        <div class="col-md-1">
        </div>
    </section>
</section>
