[Bb]in
[Dd]ebug*/
*/[Pp]ackages/*
*/[Tt]rash/*
*/obj/*
*.suo
*.bak
*.cache
*.vspscc
*.orig

/DevOPS/Deploy
/DevOPS/DeployScripts/Trash/
/Sources/*/obj/*
EntityFx.EconomicsArcade.TestApplication.v12.suo