[Bb]in
[Dd]ebug*/
*.suo
*.bak
*.cache
*.vspscc
EntityFx.EconomicsArcade.TestApplication.v12.suo
EntityFx.EconomicsArcade.TestApplication.v12.suo
EntityFx.EconomicsArcade.TestApplication.v12.suo
EntityFX.EconomicsArcade.Database/EntityFX.EconomicsArcade.Database.dbmdl
EntityFx.EconomicsArcade.TestApplication.v12.suo
EntityFx.EconomicsArcade.TestApplication.v12.suo
