<div class="row">
    <div class="col-md-3" ng-repeat="fundsDriver in fundsDrivers">
        <a class="thumbnail" href="#{{fundsDriver.Id}}" data-id="{{fundsDriver.Id}}" ng-click="buyFundDriver(fundsDriver.Id)">
            <div class="row">
                <div class="col-md-4">
                    <div ng-repeat="incrementor in fundsDriver.Incrementors track by $index">
                        <p class="incrementor" ng-class="{'text-danger':$index == 0,'text-primary':$index == 1,'text-success':$index == 2}">
                            +{{incrementor.Value}}<span ng-if="incrementor.IncrementorType == 1">%</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-check"></span>
                </div>
                <div class="col-md-4">
                    <span class="buy-vount-multiplier">x{{fundsDriver.BuyCount}}</span>
                </div>
            </div>
            <div class="caption" ng-if="fundsDriver.IsActive">
                <strong>{{fundsDriver.Name}}</strong>
                <div>{{fundsDriver.Value | currency}}</div>
            </div>
            <div class="caption" ng-if="!fundsDriver.IsActive">
                <strong>Need <span class="text-primary">{{fundsDriver.UnlockValue}}</span> to buy</strong>
            </div>
        </a>
    </div>
</div>
