<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net451" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net451" />
  <package id="NLog" version="4.4.12" targetFramework="net461" />
  <package id="RestSharp" version="106.0.1" targetFramework="net461" />
  <package id="Unity" version="5.3.2" targetFramework="net461" />
</packages>