<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <dl class="dl-horizontal">
            <dt>Баланс</dt>
            <dd>{{counters.CurrentFunds | currency}}</dd>
            <dt>Всего заработано</dt>
            <dd>{{counters.TotalFunds | currency}}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>{{counters.Counters[0].Name}}</dt>
            <dd class="text-primary">{{counters.Counters[0].Value}}</dd>
            <dt>{{counters.Counters[1].Name}}</dt>
            <dd class="text-info">+{{counters.Counters[1].Value | currency}} = {{counters.ModifiedCounters[1].SubValue | currency}} + (Bonus: {{counters.ModifiedCounters[1].BonusPercentage}}%  {{gameData.ModifiedCounters.ModifiedCounters[1].Bonus | currency}}) - Buthurt: {{counters.ModifiedCounters[1].Inflation}}%</dd>
            <dt>{{counters.Counters[2].Name}}</dt>
            <dd class="text-success">+{{counters.Counters[2].Value | currency}} = {{counters.ModifiedCounters[2].SubValue | currency}} + (Bonus: {{counters.ModifiedCounters[2].BonusPercentage}}%  {{counters.ModifiedCounters[2].Bonus | currency}}) - Fatigue: {{counters.ModifiedCounters[2].Inflation}}%</dd>
            <dt class="text-danger">{{counters.Counters[3].Name}}</dt>
            <dd class="text-danger">+{{counters.Counters[3].Value | currency}} <span nf-if="counters.ModifiedCounters[3].UnlockValue > counters.ModifiedCounters[0].Value">Need <strong class="text-primary">{{counters.ModifiedCounters[3].UnlockValue}}</strong> to start</span> </dd>
        </dl>
    </div>
    <div class="col-md-2">
    </div>
</div>
