<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ManagerEndpointAddress_GameManager"
         value="net.tcp://10.10.139.40:10003/EntityFX.Gdcame.Manager.Contract.GameManager.IGameManager" />
    <add key="ManagerEndpointAddress_SessionManager"
         value="net.tcp://10.10.139.40:10000/EntityFX.Gdcame.Manager.Contract.SessionManager.ISessionManager" />
    <add key="ManagerEndpointAddress_UserManager"
         value="net.tcp://10.10.139.40:10001/EntityFX.Gdcame.Manager.Contract.UserManager.ISimpleUserManager" />
    <add key="ManagerEndpointAddress_AdminManager"
         value="net.tcp://10.10.139.40:10004/EntityFX.Gdcame.Manager.Contract.AdminManager.IAdminManager" />
  </appSettings>
</configuration>